<br>
<br>
<div id="new_blog">
<%= link_to '新規投稿', new_blog_path %>
</div>
<p><%= notice %></p>
<table>
  <div class="text_blogs">
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>投稿者</th>
    <th>画像</th>
  </tr>
</div>
  <p>
<% @blogs.each do |blog| %>
  </p>
  <div class="content_blogs">
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= blog.user.name %></td>
    <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
  </tr>
</div>
<% end %>
</table>
